<%- include("../partials/header") %> 

<section id="show-page">
    <div><h2>DESCRIPTION</h2></div>
    <div><%= bread.description %> </div>
    <div><h2>INGREDIENTS</h2></div>
    <div><%= bread.ingredients %> </div>
</section>

<h2>Reviews</h2>


<% if (user) { %>
    <form action="/breads/<%= bread._id %>/reviews" id="add-review-form" method="POST">
        <label>Review: </label>
        <textarea name="content"></textarea>
        <br>
        <label>Rating: </label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
        </select>
        <input type="submit" value="Add Review">
    </form>
<% } %> 

<br>

<% if (bread.reviews.length) { %>
    <table>
        <thead>
            <tr>
                <th>Reviewer</th>
                <th>Date</th>
                <th>Review</th>
                <th>Rating</th>
                <!-- colm to delete review -->
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% bread.reviews.forEach(function(review) { %>
                <tr>
                    <td><img src="<%= review.userAvatar %>" alt="avatar" referrerpolicy="no-referrer"><%= review.userName %> </td>
                    <td><%= review.createdAt.toLocaleDateString() %></td>
                    <td><%= review.content %></td>
                    <td><%= review.rating %></td>
                    <td>
                        <% if (user && user._id.equals(review.user)) { %>
                            <form action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        <% } %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<% } else { %>
    <h4>No Reviews.</h4>
<% } %>


<%- include("../partials/footer") %> 